[submodule "lib/mismi"]
	path = lib/mismi
	url = git@github.com:ambiata/mismi
[submodule "lib/amazonka"]
	path = lib/amazonka
	url = git@github.com:ambiata/amazonka
[submodule "lib/x"]
	path = lib/x
	url = git@github.com:ambiata/x
[submodule "lib/p"]
	path = lib/p
	url = git@github.com:ambiata/p
